/* You can add global styles to this file, and also import other style files */

// // /* Importing Bootstrap SCSS file. */
// @import "~bootstrap/scss/bootstrap";

// /* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.break-line {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #c0b8b8;
}

.btn-plus-minus {
    background: transparent;
    border: transparent;
    color: #c0b8b8;
}

.btn-click {
    background: #c0b8b8;
    color: white;
}

.hand {
    width: 1920px;
    height: 488px;
}

// .input-quantity {
//     border: 1px solid #c0b8b8;
//     width: 30px;
// }